body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4d94e0;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
}

.hero h2 {
    margin: 0;
}

.hero p {
    font-size: 1.2em;
}

.btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.product-grid2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.product-card img {
    max-width: 100%;
}

footer {
    background-color: #0a806c;
    color: rgb(13, 170, 92);
    text-align: center;
}
.footer{
    background-color: #53dfcc;
    color: rgb(3, 12, 9);
    text-align: center;
}
button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
